# Fundamentals of Data Analysis

## By Carol Treacy

## Introduction

Regression analysis is one of the most important fields in statistics and machine learning. There are many regression methods available. Linear regression is one of them and is used to search for relationships among variables.  This project will perform and explain simple linear regressions using Python on the powerproduction dataset.  The aim is to accurately predict wind turbine power output from wind speed using the data set as a basis.  

Regression analysis, considers some phenomenon of interest like powerproduction and makes a number of observations. Each observation has two or more features like speed and power referred to as inputs and outputs. Following the assumption that (at least) one of the features depends on the others, you try to establish a relation among them.

Regression to used to answer whether and how some phenomenon influences i.e. speed and power are related.  Linear regression is probably one of the most important and widely used regression techniques which I will use to acturately predict wind turbine power output from wind speeds.

## Data Set

In [2]:
# imported to use pandas
import pandas as pd

In [3]:
# loaded the dataset for project
df = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/2020A-machstat-project/master/dataset/powerproduction.csv")

In [4]:
#checked that the dataset was loaded
df

      speed  power
0     0.000    0.0
1     0.125    0.0
2     0.150    0.0
3     0.225    0.0
4     0.275    0.0
..      ...    ...
495  24.775    0.0
496  24.850    0.0
497  24.875    0.0
498  24.950    0.0
499  25.000    0.0

[500 rows x 2 columns]

In [4]:
df['speed']

0       0.000
1       0.125
2       0.150
3       0.225
4       0.275
        ...
495    24.775
496    24.850
497    24.875
498    24.950
499    25.000
Name: speed, Length: 500, dtype: float64

In [5]:
df['power']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
495    0.0
496    0.0
497    0.0
498    0.0
499    0.0
Name: power, Length: 500, dtype: float64

I seperated out the first four speeds and the highest speed, the eight speeds resulted in no power

In [14]:
 df.head()

   speed  power
0  0.000    0.0
1  0.125    0.0
2  0.150    0.0
3  0.225    0.0
4  0.275    0.0

In [7]:
df.tail()

      speed  power
495  24.775    0.0
496  24.850    0.0
497  24.875    0.0
498  24.950    0.0
499  25.000    0.0

In [8]:
df.describe()

            speed       power
count  500.000000  500.000000
mean    12.590398   48.014584
std      7.224991   41.614572
min      0.000000    0.000000
25%      6.324750    5.288000
50%     12.550500   41.645500
75%     18.775250   93.537000
max     25.000000  113.556000

In [ ]:
https://realpython.com/linear-regression-in-python/#what-is-regression